.amphibiansBanner
{
    position: absolute;
    top: 800px;
    height: 250px;
     
}
 

 .sectionAmphibians
{
    position: absolute;
    top: 1200px;
}
 

.container
{
    padding-top: 10px;
    padding-bottom: 0;
    border-radius: 5%;
    width: 300px;
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    position:absolute;
    height: 260px;
}
 

.information
{
    margin: 5px;
    font-size: 17px;
}
 

.box
{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 0px;
    border: none;
    padding: 0;
    left: 50px;
}
 

.box img
{
    width: 100%;
    height: 100%;
}
 

.cap
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;    
    align-items: center;
    transform: scale(0);
    transition: .3s ease;
}

 
.link
{
    text-decoration: none;
    color: #fff
}
 

.box:hover .cap
{
    transform: scale(1);
    background-color: aqua;
}
 
 
.container
{   
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-animation-duration: 250ms;
}
 

.container:hover
{
    -webkit-transform: scale(1.12,1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-timing-function: 100ms;
    -moz-transform: scale(1.12,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;

    background-color:rgba(228, 230, 230, 0.6);
}
 
 
#axolotl
{
    left: 30px;
    top: 30px;  
}
 
 
#dartFrog
{
    left: 430px;
    top: 30px;
}
 

#treeFrog
{
    left: 830px;
    top: 30px;
}
 
 
#salamander
{
    left: 30px;
    top: 325px;
}
 
 
 #toad
{
    left: 430px;
    top: 325px;
}
 
 
 #giantToad
{
    left: 830px;
    top: 325px;
}
 
 