.flyingImage
{
    position: absolute;
    top: 2000px;
    width: 100%;    
}


.flyingsSection
{
    top:  2600px;
    position: absolute;
}


.flyingsContainer
{
    padding-top: 10px;
    padding-bottom: 0;
    border-radius: 5%;
    width: 300px;
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    position:absolute;
    height: 260px;    
}


.information
{
    margin: 5px;
    font-size: 17px;
}


.flyingBox
{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 0px;
    border: none;
    padding: 0;
    left: 50px;
}


.flyingBox img
{
    width: 100%;
    height: 100%;
}


.flyingCap
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .3s ease;
}


.link
{
    text-decoration: none;
    color: #fff
}


.flyingBox:hover .flyingCap
{
    transform: scale(1);
    background-color: rgb(247, 47, 230);
}


.flyingsContainer
{
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-animation-duration: 250ms;
}


.flyingsContainer:hover
{
    -webkit-transform: scale(1.12,1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-timing-function: 100ms;
    -moz-transform: scale(1.12,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;

    background-color:rgba(228, 230, 230, 0.6);
}



#eagle
{
    left: 30px;
    top: 30px;  
}


#parrot
{
    left: 430px;
    top: 30px;
}

#owl
{
    left: 830px;
    top: 30px;
}


#toucan
{
    left: 30px;
    top: 325px;    
}



#dove
{
    left: 430px;
    top: 325px;
}



#macaw
{
    left: 830px;
    top: 325px;
}


