



.selvaImage{
    position: absolute;
    top: 800px;
    height: 250px;
    
}

.sectionAcuaticos{
    top:  1240px;
    position: absolute;
}

.container{
    padding-top: 10px;
    padding-bottom: 0;
    border-radius: 5%;
    width: 300px;
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    position:absolute;
    height: 260px;

    
}

.titulo {
    font-size: 30px;
    font-weight: 700;

}

.info{
    margin: 5px;
    font-size: 17px;
}

.box{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 0px;
    border: none;
    padding: 0;
    left: 50px;

}

.box img{
    width: 100%;
    height: 100%;

}

.capa{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
   
    align-items: center;
    transform: scale(0);
    transition: .3s ease;
}

.link{
    text-decoration: none;
    color: #fff
}

.box:hover .capa{
    transform: scale(1);
    background-color: aqua;
}


.container{
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-animation-duration: 250ms;
}

.container:hover{
    -webkit-transform: scale(1.12,1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-timing-function: 100ms;
    -moz-transform: scale(1.12,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;



    background-color:rgba(228, 230, 230, 0.6);
}



#mono1{
    left: 30px;
    top: 30px;  
}


#mono2{
    left: 430px;
    top: 30px;
}

#mono3{
    left: 830px;
    top: 30px;
}


#mono4{
    left: 30px;
    top: 325px;
    
}



#mono5{
    left: 430px;
    top: 325px;
}



#mono6{
    left: 830px;
    top: 325px;
}





section{
    width: 1500px;
    height: 1000px;
    
}







.voladoresImage{
    position: relative;
    top: 1000px;
    width: 100%;
    
}

.sectionVoladores{
    top:  1200px;
    position: relative;
}

.containerVoladores{
    padding-top: 10px;
    padding-bottom: 0;
    border-radius: 5%;
    width: 300px;
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    position:absolute;
    height: 260px;

    
}

.titulo {
    font-size: 30px;
    font-weight: 700;

}

.info{
    margin: 5px;
    font-size: 17px;
}

.boxVoladores{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 0px;
    border: none;
    padding: 0;
    left: 50px;

}

.boxVoladores img{
    width: 100%;
    height: 100%;

}

.capaVoladores{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
   
    align-items: center;
    transform: scale(0);
    transition: .3s ease;
}

.link{
    text-decoration: none;
    color: #fff
}

.boxVoladores:hover .capaVoladores{
    transform: scale(1);
    background-color: rgb(247, 47, 230);
}


.containerVoladores{
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-animation-duration: 250ms;
}

.containerVoladores:hover{
    -webkit-transform: scale(1.12,1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-timing-function: 100ms;
    -moz-transform: scale(1.12,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;



    background-color:rgba(228, 230, 230, 0.6);
}



#voladores1{
    left: 30px;
    top: 30px;  
}


#voladores2{
    left: 430px;
    top: 30px;
}

#voladores3{
    left: 830px;
    top: 30px;
}


#voladores4{
    left: 30px;
    top: 325px;
    
}



#voladores5{
    left: 430px;
    top: 325px;
}



#voladores6{
    left: 830px;
    top: 325px;
}

















.acuaticosImage{
    position: relative;
    top: 1000px;
    width: 100%;
    height: 50%;
    
}

.sectionAcuaticos{
    top:  1300px;
    position: relative;
}

.containerAcuaticos{
    padding-top: 10px;
    padding-bottom: 0;
    border-radius: 5%;
    width: 300px;
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    position:absolute;
    height: 260px;

    
}

.titulo {
    font-size: 30px;
    font-weight: 700;

}

.info{
    margin: 5px;
    font-size: 17px;
}

.boxAcuaticos{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 0px;
    border: none;
    padding: 0;
    left: 50px;

}

.boxAcuaticos img{
    width: 100%;
    height: 100%;

}

.capaAcuaticos{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
   
    align-items: center;
    transform: scale(0);
    transition: .3s ease;
}

.link{
    text-decoration: none;
    color: #fff
}

.boxAcuaticos:hover .capaAcuaticos{
    transform: scale(1);
    background-color: rgb(31, 16, 247);
}


.containerAcuaticos{
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-animation-duration: 250ms;
}

.containerAcuaticos:hover{
    -webkit-transform: scale(1.12,1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-timing-function: 100ms;
    -moz-transform: scale(1.12,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;



    background-color:rgba(228, 230, 230, 0.6);
}



#acuaticos1{
    left: 30px;
    top: 30px;  
}


#acuaticos2{
    left: 430px;
    top: 30px;
}

#acuaticos3{
    left: 830px;
    top: 30px;
}


#acuaticos4{
    left: 30px;
    top: 325px;
    
}



#acuaticos5{
    left: 430px;
    top: 325px;
}



#acuaticos6{
    left: 830px;
    top: 325px;
}





.TerrestresImage{
    position: relative;
    top: 1000px;
    width: 100%;
    height: 50%;
    
}

.sectionTerrestres{
    top:  1300px;
    position: relative;
}

.containerTerrestres{
    padding-top: 10px;
    padding-bottom: 0;
    border-radius: 5%;
    width: 300px;
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    position:absolute;
    height: 260px;

    
}

.titulo {
    font-size: 30px;
    font-weight: 700;

}

.info{
    margin: 5px;
    font-size: 17px;
}

.boxTerrestres{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 0px;
    border: none;
    padding: 0;
    left: 50px;

}

.boxTerrestres img{
    width: 100%;
    height: 100%;

}

.capaTerrestres{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
   
    align-items: center;
    transform: scale(0);
    transition: .3s ease;
}

.link{
    text-decoration: none;
    color: #fff
}

.boxTerrestres:hover .capaTerrestres{
    transform: scale(1);
    background-color: rgb(243, 247, 16);
}

.containerTerrestres{
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-animation-duration: 250ms;
}

.containerTerrestres:hover{
    -webkit-transform: scale(1.12,1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-timing-function: 100ms;
    -moz-transform: scale(1.12,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;



    background-color:rgba(228, 230, 230, 0.6);
}



#Terrestres1{
    left: 30px;
    top: 30px;  
}


#Terrestres2{
    left: 430px;
    top: 30px;
}

#Terrestres3{
    left: 830px;
    top: 30px;
}


#Terrestres4{
    left: 30px;
    top: 325px;
    
}



#Terrestres5{
    left: 430px;
    top: 325px;
}



#Terrestres6{
    left: 830px;
    top: 325px;
}










