.menu
{
	display: flex;
	position: absolute;
	top: 0px;
	left: 11px;
    height: 50px;
	width: auto;
	background-color: #093347;
	transition: all .5s;
	transform: translateX(-120%);    
}


.menu a
{
	display: block;
	color: #fff;
	height: 20px;
	text-decoration: none;
	padding: 15px;
	border: 1px solid #fff;
    font-family: fantasy;
    border-radius: 5%;
}


header .tittle
{
	position: absolute;
	width: 3%;
	top: 7px;
}


#menu-bar
{
	display: none;  
}


header label
{
	float: right;
	font-size: 35px;
	margin: 6px 0;
	cursor: pointer;
    height: 5px;
    width: 40px;

}


header #bar
{
	-webkit-transform: scale(1,1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1,1);
	-moz-transition-timing-function: ease-out;
	-moz-animation-duration: 250ms;
}


header #bar:hover
{
	color: black;
	-webkit-transform: scale(1.12,1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-timing-function: 100ms;
    -moz-transform: scale(1.12,1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}


.menu a:hover
{
	background: rgba(255,255,255,.3);
}


#menu-bar:checked ~.menu
{
	transform: translateX(120%);
}
